<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Description__c %><br />
    <%= f.text_area :Description__c %>
  </div>
  <div class="field">
    <%= f.label :Schedule__c %><br />
    <%= f.text_field :Schedule__c %>
  </div>
  <div class="field">
    <%= f.label :Lat__c %><br />
    <%= f.text_field :Lat__c %>
  </div>
  <div class="field">
    <%= f.label :Long__c %><br />
    <%= f.text_field :Long__c %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
